In [28]:
import numpy as np
import pandas as pd

# to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [29]:
gym_data = pd.read_csv("google_review_ratings.csv")

In [30]:
gym_data.head()

,User,Category 1,Category 2,Category 3,Category 4,Category 5,Category 6,Category 7,Category 8,Category 9,...,Category 16,Category 17,Category 18,Category 19,Category 20,Category 21,Category 22,Category 23,Category 24,Unnamed: 25
0,User 1,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.35,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
1,User 2,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.64,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
2,User 3,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
3,User 4,0.0,0.5,3.63,3.63,5.0,2.92,5.0,2.35,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
4,User 5,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN

In [31]:
# Check info
gym_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5456 entries, 0 to 5455
Data columns (total 26 columns):
User           5456 non-null object
Category 1     5456 non-null float64
Category 2     5456 non-null float64
Category 3     5456 non-null float64
Category 4     5456 non-null float64
Category 5     5456 non-null float64
Category 6     5456 non-null float64
Category 7     5456 non-null float64
Category 8     5456 non-null float64
Category 9     5456 non-null float64
Category 10    5456 non-null float64
Category 11    5456 non-null object
Category 12    5455 non-null float64
Category 13    5456 non-null float64
Category 14    5456 non-null float64
Category 15    5456 non-null float64
Category 16    5456 non-null float64
Category 17    5456 non-null float64
Category 18    5456 non-null float64
Category 19    5456 non-null float64
Category 20    5456 non-null float64
Category 21    5456 non-null float64
Category 22    5456 non-null float64
Category 23    5456 non-null float64
Category 24    5455 non-null float64
Unnamed: 25    2 non-null float64
dtypes: float64(24), object(2)
memory usage: 1.1+ MB

In [32]:
# drop the user column and unnamed: 25
gym_data.drop(columns=["User",'Unnamed: 25'], axis = 1, inplace = True)

In [33]:
# drop one missing values from the data
gym_data.dropna(axis = 0, inplace=True)

In [34]:
# converting the column Category 11 to numeric
gym_data['Category 11'] = pd.to_numeric(gym_data['Category 11'])

In [35]:
gym_data['average_rating'] = gym_data.sum(axis = 1)/len(gym_data.columns)

In [36]:
gym_data['membership'] = gym_data.average_rating.apply(lambda x: 0 if x <= 2.0 else 1)

In [37]:
gym_data.membership.value_counts()

1    2858
0    2596
Name: membership, dtype: int64

In [41]:
# Task of average rating is over, drop it
gym_data.drop(columns=['average_rating'], axis = 1, inplace = True)

In [42]:
# check the description of the data
gym_data.describe()

,Category 1,Category 2,Category 3,Category 4,Category 5,Category 6,Category 7,Category 8,Category 9,Category 10,...,Category 16,Category 17,Category 18,Category 19,Category 20,Category 21,Category 22,Category 23,Category 24,membership
count,5454.000000,5454.000000,5454.000000,5454.000000,5454.000000,5454.000000,5454.000000,5454.000000,5454.000000,5454.000000,...,5454.000000,5454.000000,5454.000000,5454.000000,5454.000000,5454.000000,5454.000000,5454.000000,5454.000000,5454.000000
mean,1.455746,2.320048,2.489059,2.797103,2.958904,2.893423,3.351476,2.541177,3.126542,2.832695,...,1.192710,0.949349,0.822525,0.969250,0.999626,0.965275,1.749345,1.531051,1.560570,0.524019
std,0.827732,1.421576,1.247503,1.309188,1.338785,1.282101,1.413291,1.111398,1.356774,1.307299,...,1.107176,0.973628,0.948015,1.202883,1.193129,0.928326,1.597816,1.316180,1.171784,0.499469
min,0.000000,0.000000,0.000000,0.830000,1.120000,1.110000,1.120000,0.860000,0.840000,0.810000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.920000,1.360000,1.540000,1.730000,1.770000,1.790000,1.930000,1.620000,1.800000,1.640000,...,0.690000,0.580000,0.530000,0.520000,0.540000,0.570000,0.740000,0.790000,0.880000,0.000000
50%,1.340000,1.910000,2.060000,2.460000,2.670000,2.680000,3.230000,2.170000,2.800000,2.680000,...,0.800000,0.740000,0.690000,0.690000,0.690000,0.760000,1.030000,1.070000,1.290000,1.000000
75%,1.810000,2.687500,2.740000,4.097500,4.310000,3.837500,5.000000,3.190000,5.000000,3.527500,...,1.160000,0.910000,0.840000,0.860000,0.860000,1.000000,2.070000,1.560000,1.660000,1.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [43]:
gym_data.skew()

Category 1     1.666347
Category 2     0.883124
Category 3     1.085326
Category 4     0.706816
Category 5     0.487415
Category 6     0.558540
Category 7     0.017658
Category 8     0.772499
Category 9     0.272911
Category 10    0.524048
Category 11    0.817109
Category 12    1.388079
Category 13    1.263766
Category 14    1.034112
Category 15    0.864240
Category 16    2.694040
Category 17    3.266489
Category 18    3.283381
Category 19    2.512657
Category 20    2.468155
Category 21    2.817811
Category 22    1.209026
Category 23    1.707494
Category 24    1.873731
membership    -0.096214
dtype: float64

* most of the columns distribution seems to be nearly symmetrical in shape i.e. normally distributed, we can use Standard Scaler.

In [45]:
# importing preprocessor and different models
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [46]:
ss = StandardScaler()
log_model = LogisticRegression()
rand_forest = RandomForestClassifier()
d_tree = DecisionTreeClassifier()

In [47]:
models = [ss, log_model, rand_forest, d_tree]

### Pipeline

In [48]:
from sklearn.pipeline import make_pipeline
log_pipeline = make_pipeline(ss, log_model)
rand_pipeline = make_pipeline(ss, rand_forest)
d_tree_pipeline = make_pipeline(ss, d_tree)
pipelines = [log_pipeline, rand_pipeline, d_tree_pipeline]

In [49]:
# separate dependent and independent features
ind_features = gym_data.drop(columns=['membership'], axis = 1)
dep_feature = gym_data.membership

# split the data
from sklearn.model_selection import train_test_split
trainX, testX, trainY, testY = train_test_split(ind_features, dep_feature, random_state = 42)

### Fitting the data

In [50]:
for pipeline in pipelines:
    pipeline.fit(trainX, trainY)

In [51]:
for pipeline in pipelines:
    print(pipeline, ":", pipeline.score(testX, testY))

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())]) : 0.9919354838709677
Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomforestclassifier', RandomForestClassifier())]) : 0.906891495601173
Pipeline(steps=[('standardscaler', StandardScaler()),
                ('decisiontreeclassifier', DecisionTreeClassifier())]) : 0.8563049853372434

### Applying Hyper - Parameter Tuning for Random Forest with feature selection

In [61]:
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import SelectKBest, f_classif
rand_pipeline = make_pipeline(ss, SelectKBest(score_func=f_classif), rand_forest)
params = {'selectkbest__k':[5, 10, 15, 20, 24], 'randomforestclassifier__n_estimators':[50, 100, 150, 200, 250, 300]}
gs = GridSearchCV(rand_pipeline, param_grid=params, cv=5, n_jobs=4)

In [62]:
gs.fit(trainX, trainY)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('standardscaler', StandardScaler()),
                                       ('selectkbest', SelectKBest()),
                                       ('randomforestclassifier',
                                        RandomForestClassifier())]),
             n_jobs=4,
             param_grid={'randomforestclassifier__n_estimators': [50, 100, 150,
                                                                  200, 250,
                                                                  300],
                         'selectkbest__k': [5, 10, 15, 20, 24]})

In [63]:
gs.best_score_

0.88679706601467

In [64]:
gs.score(testX, testY)

0.9090909090909091

In [65]:
gs.best_params_

{'randomforestclassifier__n_estimators': 200, 'selectkbest__k': 24}

In [57]:
params = {'selectkbest__k':[24], 'randomforestclassifier__n_estimators':[25, 30, 35, 40, 45, 50]}
gs = GridSearchCV(rand_pipeline, param_grid=params, cv=5, n_jobs=4)
gs.fit(trainX, trainY)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('standardscaler', StandardScaler()),
                                       ('selectkbest', SelectKBest()),
                                       ('randomforestclassifier',
                                        RandomForestClassifier())]),
             n_jobs=4,
             param_grid={'randomforestclassifier__n_estimators': [25, 30, 35,
                                                                  40, 45, 50],
                         'selectkbest__k': [24]})

In [58]:
gs.best_params_

{'randomforestclassifier__n_estimators': 45, 'selectkbest__k': 24}

In [59]:
gs.best_score_

0.8833740831295843

In [60]:
gs.score(testX, testY)

0.9032258064516129

* The best accuracy by random forest classifer is 0.9096.